<section class ="p-2">
    <div class="card p-2">
        <div class="d-flex justify-content-between">
            <h5><a class="text-primary text-decoration-none" href="/dashboard/edit/{{id}}">{{title}}</a></h5>
            <h5>{{format_date created_at}}</h5>
        </div>
    </div>
</section>