{{> main-header post.main-header}}

<main class="p-3">
  <form id="login-form" class="card">
    <h3 class="card-header bg-success text-center">Login</h3>
    <label for="username-login" class="p-2">Username</label>
    <input  id="username-login" class="form-control" type="text" autofocus="true">

    <label for="password-login" class="p-2">Password</label>
    <input id="password-login" class="form-control" type="password" autofocus="true"/>
       
    <section class="p-3">
      <button type="submit" class="btn btn-primary">Login</button>
        <a class="login-link btn btn-primary" href="/signup">Sign up instead</a>
    </section>
  </form>
</main>


<script src="/javascript/login.js"></script>