
{{> main-header post.main-header}}

<!-- start of main section -->

<main class="p-3">
  <form id="signup-form" class="card">
    <h3 class="card-header bg-success">Sign Up</h3>
    <label for="username-signup" class="p-2">Username</label>
    <input  id="username-signup" type="text" autofocus="true" class="form-control" />
    
    <label for="password-signup" class="p-2">Password</label>
    <input id="password-signup" type="password" autofocus="true" class="form-control" /> 
    
    <section class="p-3">
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <a class="login-link btn btn-primary" href="/login">Login instead</a>
    </section> 
      
  </form>
</main>


<script src="/javascript/signup.js"></script>